*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.ramp{
    --diametro: 400px;
    --raio: 200px;

    width: var(--diametro);
    height: var(--diametro);

    border-radius: 0 0 100% 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: calc(50% - var(--raio) );
}

.ramp::before{
    width: 350px;
    height: 350px;

    border-radius: 0 0 100% 100%;
    background-color: black;
    position: absolute;
    z-index: 10;
    bottom: 50px;
    /* left: calc(50% - 175px); */
}
.ramp::after{
    content: "";
    width: var(--diametro);
    height: var(--raio);

    background-color: white;
    position: absolute;
    bottom: var(--raio);
    left: calc(50% - var(--raio) );
}
