*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: monospace;
    font-size: 32px;
    color: #0b880b60;
    /* color: #0b880b; */
    background-color: #0f0f0f;
}