body{
    display: flex;
    width: 100%;
}

.coluna{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.linha{
    flex: 1;
    text-align: center;
    line-height: 28px;
    width: 28px;
}