*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    list-style: none;
}

body{
    background-color: #242424;
}

h4, label{
    color: white;
}

#img_user{
    display: none;
    width: 30%;
    text-align: center;
    border-radius: 30%;
}

.loading{
    animation: loading 2s infinite;
}

@keyframes loading {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}