body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    height: 100vh;
}

.box{
    margin-top: calc(25% - 400px);
    width: 400px;
    height: 400px;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 80%;
}

h1{
    margin: 36px;
}
