.profile{
    min-width: 300px;
    width: 300px;
    border-right: 2px solid #559BD9;
}

.profile hr{
    width: 100%;
}

.profile img{
    border: 2px solid #559BD9;
    border-radius: 50%;
    width: 100%;
}