.profile{
    min-width: 300px;
    width: 300px;
    border-right: 2px solid #559BD9;
}

.profile hr{
    border: 1px solid #559bd9;  
    width: 100%;
}

.profile p{
    color:#559bd9;  
}

.profile img{
    border: 2px solid #559BD9;
    border-radius: 50%;
    width: 100%;
}