.i-0{animation: hyperspace0 var(--vel) linear infinite;}

@keyframes hyperspace0{
    0%{transform: rotate(var(--ang0)) translate(0px,0px);}

    33%{transform: rotate(var(--ang0)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang0)) translate(0px,100vh);
        height: 200px;}
}

.i-1{animation: hyperspace1 var(--vel) linear infinite;}

@keyframes hyperspace1{
    0%{transform: rotate(var(--ang1)) translate(0px,0px);}

    33%{transform: rotate(var(--ang1)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang1)) translate(0px,100vh);
        height: 200px;}
}

.i-2{animation: hyperspace2 var(--vel) linear infinite;}

@keyframes hyperspace2{
    0%{transform: rotate(var(--ang2)) translate(0px,0px);}

    33%{transform: rotate(var(--ang2)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang2)) translate(0px,100vh);
        height: 200px;}
}

.i-3{animation: hyperspace3 var(--vel) linear infinite;}

@keyframes hyperspace3{
    0%{transform: rotate(var(--ang3)) translate(0px,0px);}

    33%{transform: rotate(var(--ang3)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang3)) translate(0px,100vh);
        height: 200px;}
}

.i-4{animation: hyperspace4 var(--vel) linear infinite;}

@keyframes hyperspace4{
    0%{transform: rotate(var(--ang4)) translate(0px,0px);}

    33%{transform: rotate(var(--ang4)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang4)) translate(0px,100vh);
        height: 200px;}
}

.i-5{animation: hyperspace5 var(--vel) linear infinite;}

@keyframes hyperspace5{
    0%{transform: rotate(var(--ang5)) translate(0px,0px);}

    33%{transform: rotate(var(--ang5)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang5)) translate(0px,100vh);
        height: 200px;}
}

.i-6{animation: hyperspace6 var(--vel) linear infinite;}

@keyframes hyperspace6{
    0%{transform: rotate(var(--ang6)) translate(0px,0px);}

    33%{transform: rotate(var(--ang6)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang6)) translate(0px,100vh);
        height: 200px;}
}

.i-7{animation: hyperspace7 var(--vel) linear infinite;}

@keyframes hyperspace7{
    0%{transform: rotate(var(--ang7)) translate(0px,0px);}

    33%{transform: rotate(var(--ang7)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang7)) translate(0px,100vh);
        height: 200px;}
}

.i-8{animation: hyperspace8 var(--vel) linear infinite;}

@keyframes hyperspace8{
    0%{transform: rotate(var(--ang8)) translate(0px,0px);}

    33%{transform: rotate(var(--ang8)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang8)) translate(0px,100vh);
        height: 200px;}
}

.i-9{animation: hyperspace9 var(--vel) linear infinite;}

@keyframes hyperspace9{
    0%{transform: rotate(var(--ang9)) translate(0px,0px);}

    33%{transform: rotate(var(--ang9)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang9)) translate(0px,100vh);
        height: 200px;}
}

.i-10{animation: hyperspace10 var(--vel) linear infinite;}

@keyframes hyperspace10{
    0%{transform: rotate(var(--ang10)) translate(0px,0px);}

    33%{transform: rotate(var(--ang10)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang10)) translate(0px,100vh);
        height: 200px;}
}

.i-11{animation: hyperspace11 var(--vel) linear infinite;}

@keyframes hyperspace11{
    0%{transform: rotate(var(--ang11)) translate(0px,0px);}

    33%{transform: rotate(var(--ang11)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang11)) translate(0px,100vh);
        height: 200px;}
}

.i-12{animation: hyperspace12 var(--vel) linear infinite;}

@keyframes hyperspace12{
    0%{transform: rotate(var(--ang12)) translate(0px,0px);}

    33%{transform: rotate(var(--ang12)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang12)) translate(0px,100vh);
        height: 200px;}
}

.i-13{animation: hyperspace13 var(--vel) linear infinite;}

@keyframes hyperspace13{
    0%{transform: rotate(var(--ang13)) translate(0px,0px);}

    33%{transform: rotate(var(--ang13)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang13)) translate(0px,100vh);
        height: 200px;}
}

.i-14{animation: hyperspace14 var(--vel) linear infinite;}

@keyframes hyperspace14{
    0%{transform: rotate(var(--ang14)) translate(0px,0px);}

    33%{transform: rotate(var(--ang14)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang14)) translate(0px,100vh);
        height: 200px;}
}

.i-15{animation: hyperspace15 var(--vel) linear infinite;}

@keyframes hyperspace15{
    0%{transform: rotate(var(--ang15)) translate(0px,0px);}

    33%{transform: rotate(var(--ang15)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang15)) translate(0px,100vh);
        height: 200px;}
}

.i-16{animation: hyperspace16 var(--vel) linear infinite;}

@keyframes hyperspace16{
    0%{transform: rotate(var(--ang16)) translate(0px,0px);}

    33%{transform: rotate(var(--ang16)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang16)) translate(0px,100vh);
        height: 200px;}
}

.i-17{animation: hyperspace17 var(--vel) linear infinite;}

@keyframes hyperspace17{
    0%{transform: rotate(var(--ang17)) translate(0px,0px);}

    33%{transform: rotate(var(--ang17)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang17)) translate(0px,100vh);
        height: 200px;}
}

.i-18{animation: hyperspace18 var(--vel) linear infinite;}

@keyframes hyperspace18{
    0%{transform: rotate(var(--ang18)) translate(0px,0px);}

    33%{transform: rotate(var(--ang18)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang18)) translate(0px,100vh);
        height: 200px;}
}

.i-19{animation: hyperspace19 var(--vel) linear infinite;}

@keyframes hyperspace19{
    0%{transform: rotate(var(--ang19)) translate(0px,0px);}

    33%{transform: rotate(var(--ang19)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang19)) translate(0px,100vh);
        height: 200px;}
}

.i-20{animation: hyperspace20 var(--vel) linear infinite;}

@keyframes hyperspace20{
    0%{transform: rotate(var(--ang20)) translate(0px,0px);}

    33%{transform: rotate(var(--ang20)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang20)) translate(0px,100vh);
        height: 200px;}
}

.i-21{animation: hyperspace21 var(--vel) linear infinite;}

@keyframes hyperspace21{
    0%{transform: rotate(var(--ang21)) translate(0px,0px);}

    33%{transform: rotate(var(--ang21)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang21)) translate(0px,100vh);
        height: 200px;}
}

.i-22{animation: hyperspace22 var(--vel) linear infinite;}

@keyframes hyperspace22{
    0%{transform: rotate(var(--ang22)) translate(0px,0px);}

    33%{transform: rotate(var(--ang22)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang22)) translate(0px,100vh);
        height: 200px;}
}

.i-23{animation: hyperspace23 var(--vel) linear infinite;}

@keyframes hyperspace23{
    0%{transform: rotate(var(--ang23)) translate(0px,0px);}

    33%{transform: rotate(var(--ang23)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang23)) translate(0px,100vh);
        height: 200px;}
}

.i-24{animation: hyperspace24 var(--vel) linear infinite;}

@keyframes hyperspace24{
    0%{transform: rotate(var(--ang24)) translate(0px,0px);}

    33%{transform: rotate(var(--ang24)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang24)) translate(0px,100vh);
        height: 200px;}
}

.i-25{animation: hyperspace25 var(--vel) linear infinite;}

@keyframes hyperspace25{
    0%{transform: rotate(var(--ang25)) translate(0px,0px);}

    33%{transform: rotate(var(--ang25)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang25)) translate(0px,100vh);
        height: 200px;}
}

.i-26{animation: hyperspace26 var(--vel) linear infinite;}

@keyframes hyperspace26{
    0%{transform: rotate(var(--ang26)) translate(0px,0px);}

    33%{transform: rotate(var(--ang26)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang26)) translate(0px,100vh);
        height: 200px;}
}

.i-27{animation: hyperspace27 var(--vel) linear infinite;}

@keyframes hyperspace27{
    0%{transform: rotate(var(--ang27)) translate(0px,0px);}

    33%{transform: rotate(var(--ang27)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang27)) translate(0px,100vh);
        height: 200px;}
}

.i-28{animation: hyperspace28 var(--vel) linear infinite;}

@keyframes hyperspace28{
    0%{transform: rotate(var(--ang28)) translate(0px,0px);}

    33%{transform: rotate(var(--ang28)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang28)) translate(0px,100vh);
        height: 200px;}
}

.i-29{animation: hyperspace29 var(--vel) linear infinite;}

@keyframes hyperspace29{
    0%{transform: rotate(var(--ang29)) translate(0px,0px);}

    33%{transform: rotate(var(--ang29)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang29)) translate(0px,100vh);
        height: 200px;}
}

.i-30{animation: hyperspace30 var(--vel) linear infinite;}

@keyframes hyperspace30{
    0%{transform: rotate(var(--ang30)) translate(0px,0px);}

    33%{transform: rotate(var(--ang30)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang30)) translate(0px,100vh);
        height: 200px;}
}

.i-31{animation: hyperspace31 var(--vel) linear infinite;}

@keyframes hyperspace31{
    0%{transform: rotate(var(--ang31)) translate(0px,0px);}

    33%{transform: rotate(var(--ang31)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang31)) translate(0px,100vh);
        height: 200px;}
}

.i-32{animation: hyperspace32 var(--vel) linear infinite;}

@keyframes hyperspace32{
    0%{transform: rotate(var(--ang32)) translate(0px,0px);}

    33%{transform: rotate(var(--ang32)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang32)) translate(0px,100vh);
        height: 200px;}
}

.i-33{animation: hyperspace33 var(--vel) linear infinite;}

@keyframes hyperspace33{
    0%{transform: rotate(var(--ang33)) translate(0px,0px);}

    33%{transform: rotate(var(--ang33)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang33)) translate(0px,100vh);
        height: 200px;}
}

.i-34{animation: hyperspace34 var(--vel) linear infinite;}

@keyframes hyperspace34{
    0%{transform: rotate(var(--ang34)) translate(0px,0px);}

    33%{transform: rotate(var(--ang34)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang34)) translate(0px,100vh);
        height: 200px;}
}

.i-35{animation: hyperspace35 var(--vel) linear infinite;}

@keyframes hyperspace35{
    0%{transform: rotate(var(--ang35)) translate(0px,0px);}

    33%{transform: rotate(var(--ang35)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang35)) translate(0px,100vh);
        height: 200px;}
}

.i-36{animation: hyperspace36 var(--vel) linear infinite;}

@keyframes hyperspace36{
    0%{transform: rotate(var(--ang36)) translate(0px,0px);}

    33%{transform: rotate(var(--ang36)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang36)) translate(0px,100vh);
        height: 200px;}
}

.i-37{animation: hyperspace37 var(--vel) linear infinite;}

@keyframes hyperspace37{
    0%{transform: rotate(var(--ang37)) translate(0px,0px);}

    33%{transform: rotate(var(--ang37)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang37)) translate(0px,100vh);
        height: 200px;}
}

.i-38{animation: hyperspace38 var(--vel) linear infinite;}

@keyframes hyperspace38{
    0%{transform: rotate(var(--ang38)) translate(0px,0px);}

    33%{transform: rotate(var(--ang38)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang38)) translate(0px,100vh);
        height: 200px;}
}

.i-39{animation: hyperspace39 var(--vel) linear infinite;}

@keyframes hyperspace39{
    0%{transform: rotate(var(--ang39)) translate(0px,0px);}

    33%{transform: rotate(var(--ang39)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang39)) translate(0px,100vh);
        height: 200px;}
}

.i-40{animation: hyperspace40 var(--vel) linear infinite;}

@keyframes hyperspace40{
    0%{transform: rotate(var(--ang40)) translate(0px,0px);}

    33%{transform: rotate(var(--ang40)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang40)) translate(0px,100vh);
        height: 200px;}
}

.i-41{animation: hyperspace41 var(--vel) linear infinite;}

@keyframes hyperspace41{
    0%{transform: rotate(var(--ang41)) translate(0px,0px);}

    33%{transform: rotate(var(--ang41)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang41)) translate(0px,100vh);
        height: 200px;}
}

.i-42{animation: hyperspace42 var(--vel) linear infinite;}

@keyframes hyperspace42{
    0%{transform: rotate(var(--ang42)) translate(0px,0px);}

    33%{transform: rotate(var(--ang42)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang42)) translate(0px,100vh);
        height: 200px;}
}

.i-43{animation: hyperspace43 var(--vel) linear infinite;}

@keyframes hyperspace43{
    0%{transform: rotate(var(--ang43)) translate(0px,0px);}

    33%{transform: rotate(var(--ang43)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang43)) translate(0px,100vh);
        height: 200px;}
}

.i-44{animation: hyperspace44 var(--vel) linear infinite;}

@keyframes hyperspace44{
    0%{transform: rotate(var(--ang44)) translate(0px,0px);}

    33%{transform: rotate(var(--ang44)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang44)) translate(0px,100vh);
        height: 200px;}
}

.i-45{animation: hyperspace45 var(--vel) linear infinite;}

@keyframes hyperspace45{
    0%{transform: rotate(var(--ang45)) translate(0px,0px);}

    33%{transform: rotate(var(--ang45)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang45)) translate(0px,100vh);
        height: 200px;}
}

.i-46{animation: hyperspace46 var(--vel) linear infinite;}

@keyframes hyperspace46{
    0%{transform: rotate(var(--ang46)) translate(0px,0px);}

    33%{transform: rotate(var(--ang46)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang46)) translate(0px,100vh);
        height: 200px;}
}

.i-47{animation: hyperspace47 var(--vel) linear infinite;}

@keyframes hyperspace47{
    0%{transform: rotate(var(--ang47)) translate(0px,0px);}

    33%{transform: rotate(var(--ang47)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang47)) translate(0px,100vh);
        height: 200px;}
}

.i-48{animation: hyperspace48 var(--vel) linear infinite;}

@keyframes hyperspace48{
    0%{transform: rotate(var(--ang48)) translate(0px,0px);}

    33%{transform: rotate(var(--ang48)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang48)) translate(0px,100vh);
        height: 200px;}
}

.i-49{animation: hyperspace49 var(--vel) linear infinite;}

@keyframes hyperspace49{
    0%{transform: rotate(var(--ang49)) translate(0px,0px);}

    33%{transform: rotate(var(--ang49)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang49)) translate(0px,100vh);
        height: 200px;}
}

.i-50{animation: hyperspace50 var(--vel) linear infinite;}

@keyframes hyperspace50{
    0%{transform: rotate(var(--ang50)) translate(0px,0px);}

    33%{transform: rotate(var(--ang50)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang50)) translate(0px,100vh);
        height: 200px;}
}

.i-51{animation: hyperspace51 var(--vel) linear infinite;}

@keyframes hyperspace51{
    0%{transform: rotate(var(--ang51)) translate(0px,0px);}

    33%{transform: rotate(var(--ang51)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang51)) translate(0px,100vh);
        height: 200px;}
}

.i-52{animation: hyperspace52 var(--vel) linear infinite;}

@keyframes hyperspace52{
    0%{transform: rotate(var(--ang52)) translate(0px,0px);}

    33%{transform: rotate(var(--ang52)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang52)) translate(0px,100vh);
        height: 200px;}
}

.i-53{animation: hyperspace53 var(--vel) linear infinite;}

@keyframes hyperspace53{
    0%{transform: rotate(var(--ang53)) translate(0px,0px);}

    33%{transform: rotate(var(--ang53)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang53)) translate(0px,100vh);
        height: 200px;}
}

.i-54{animation: hyperspace54 var(--vel) linear infinite;}

@keyframes hyperspace54{
    0%{transform: rotate(var(--ang54)) translate(0px,0px);}

    33%{transform: rotate(var(--ang54)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang54)) translate(0px,100vh);
        height: 200px;}
}

.i-55{animation: hyperspace55 var(--vel) linear infinite;}

@keyframes hyperspace55{
    0%{transform: rotate(var(--ang55)) translate(0px,0px);}

    33%{transform: rotate(var(--ang55)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang55)) translate(0px,100vh);
        height: 200px;}
}

.i-56{animation: hyperspace56 var(--vel) linear infinite;}

@keyframes hyperspace56{
    0%{transform: rotate(var(--ang56)) translate(0px,0px);}

    33%{transform: rotate(var(--ang56)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang56)) translate(0px,100vh);
        height: 200px;}
}

.i-57{animation: hyperspace57 var(--vel) linear infinite;}

@keyframes hyperspace57{
    0%{transform: rotate(var(--ang57)) translate(0px,0px);}

    33%{transform: rotate(var(--ang57)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang57)) translate(0px,100vh);
        height: 200px;}
}

.i-58{animation: hyperspace58 var(--vel) linear infinite;}

@keyframes hyperspace58{
    0%{transform: rotate(var(--ang58)) translate(0px,0px);}

    33%{transform: rotate(var(--ang58)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang58)) translate(0px,100vh);
        height: 200px;}
}

.i-59{animation: hyperspace59 var(--vel) linear infinite;}

@keyframes hyperspace59{
    0%{transform: rotate(var(--ang59)) translate(0px,0px);}

    33%{transform: rotate(var(--ang59)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang59)) translate(0px,100vh);
        height: 200px;}
}

.i-60{animation: hyperspace60 var(--vel) linear infinite;}

@keyframes hyperspace60{
    0%{transform: rotate(var(--ang60)) translate(0px,0px);}

    33%{transform: rotate(var(--ang60)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang60)) translate(0px,100vh);
        height: 200px;}
}

.i-61{animation: hyperspace61 var(--vel) linear infinite;}

@keyframes hyperspace61{
    0%{transform: rotate(var(--ang61)) translate(0px,0px);}

    33%{transform: rotate(var(--ang61)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang61)) translate(0px,100vh);
        height: 200px;}
}

.i-62{animation: hyperspace62 var(--vel) linear infinite;}

@keyframes hyperspace62{
    0%{transform: rotate(var(--ang62)) translate(0px,0px);}

    33%{transform: rotate(var(--ang62)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang62)) translate(0px,100vh);
        height: 200px;}
}

.i-63{animation: hyperspace63 var(--vel) linear infinite;}

@keyframes hyperspace63{
    0%{transform: rotate(var(--ang63)) translate(0px,0px);}

    33%{transform: rotate(var(--ang63)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang63)) translate(0px,100vh);
        height: 200px;}
}

.i-64{animation: hyperspace64 var(--vel) linear infinite;}

@keyframes hyperspace64{
    0%{transform: rotate(var(--ang64)) translate(0px,0px);}

    33%{transform: rotate(var(--ang64)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang64)) translate(0px,100vh);
        height: 200px;}
}

.i-65{animation: hyperspace65 var(--vel) linear infinite;}

@keyframes hyperspace65{
    0%{transform: rotate(var(--ang65)) translate(0px,0px);}

    33%{transform: rotate(var(--ang65)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang65)) translate(0px,100vh);
        height: 200px;}
}

.i-66{animation: hyperspace66 var(--vel) linear infinite;}

@keyframes hyperspace66{
    0%{transform: rotate(var(--ang66)) translate(0px,0px);}

    33%{transform: rotate(var(--ang66)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang66)) translate(0px,100vh);
        height: 200px;}
}

.i-67{animation: hyperspace67 var(--vel) linear infinite;}

@keyframes hyperspace67{
    0%{transform: rotate(var(--ang67)) translate(0px,0px);}

    33%{transform: rotate(var(--ang67)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang67)) translate(0px,100vh);
        height: 200px;}
}

.i-68{animation: hyperspace68 var(--vel) linear infinite;}

@keyframes hyperspace68{
    0%{transform: rotate(var(--ang68)) translate(0px,0px);}

    33%{transform: rotate(var(--ang68)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang68)) translate(0px,100vh);
        height: 200px;}
}

.i-69{animation: hyperspace69 var(--vel) linear infinite;}

@keyframes hyperspace69{
    0%{transform: rotate(var(--ang69)) translate(0px,0px);}

    33%{transform: rotate(var(--ang69)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang69)) translate(0px,100vh);
        height: 200px;}
}

.i-70{animation: hyperspace70 var(--vel) linear infinite;}

@keyframes hyperspace70{
    0%{transform: rotate(var(--ang70)) translate(0px,0px);}

    33%{transform: rotate(var(--ang70)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang70)) translate(0px,100vh);
        height: 200px;}
}

.i-71{animation: hyperspace71 var(--vel) linear infinite;}

@keyframes hyperspace71{
    0%{transform: rotate(var(--ang71)) translate(0px,0px);}

    33%{transform: rotate(var(--ang71)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang71)) translate(0px,100vh);
        height: 200px;}
}

.i-72{animation: hyperspace72 var(--vel) linear infinite;}

@keyframes hyperspace72{
    0%{transform: rotate(var(--ang72)) translate(0px,0px);}

    33%{transform: rotate(var(--ang72)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang72)) translate(0px,100vh);
        height: 200px;}
}

.i-73{animation: hyperspace73 var(--vel) linear infinite;}

@keyframes hyperspace73{
    0%{transform: rotate(var(--ang73)) translate(0px,0px);}

    33%{transform: rotate(var(--ang73)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang73)) translate(0px,100vh);
        height: 200px;}
}

.i-74{animation: hyperspace74 var(--vel) linear infinite;}

@keyframes hyperspace74{
    0%{transform: rotate(var(--ang74)) translate(0px,0px);}

    33%{transform: rotate(var(--ang74)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang74)) translate(0px,100vh);
        height: 200px;}
}

.i-75{animation: hyperspace75 var(--vel) linear infinite;}

@keyframes hyperspace75{
    0%{transform: rotate(var(--ang75)) translate(0px,0px);}

    33%{transform: rotate(var(--ang75)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang75)) translate(0px,100vh);
        height: 200px;}
}

.i-76{animation: hyperspace76 var(--vel) linear infinite;}

@keyframes hyperspace76{
    0%{transform: rotate(var(--ang76)) translate(0px,0px);}

    33%{transform: rotate(var(--ang76)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang76)) translate(0px,100vh);
        height: 200px;}
}

.i-77{animation: hyperspace77 var(--vel) linear infinite;}

@keyframes hyperspace77{
    0%{transform: rotate(var(--ang77)) translate(0px,0px);}

    33%{transform: rotate(var(--ang77)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang77)) translate(0px,100vh);
        height: 200px;}
}

.i-78{animation: hyperspace78 var(--vel) linear infinite;}

@keyframes hyperspace78{
    0%{transform: rotate(var(--ang78)) translate(0px,0px);}

    33%{transform: rotate(var(--ang78)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang78)) translate(0px,100vh);
        height: 200px;}
}

.i-79{animation: hyperspace79 var(--vel) linear infinite;}

@keyframes hyperspace79{
    0%{transform: rotate(var(--ang79)) translate(0px,0px);}

    33%{transform: rotate(var(--ang79)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang79)) translate(0px,100vh);
        height: 200px;}
}

.i-80{animation: hyperspace80 var(--vel) linear infinite;}

@keyframes hyperspace80{
    0%{transform: rotate(var(--ang80)) translate(0px,0px);}

    33%{transform: rotate(var(--ang80)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang80)) translate(0px,100vh);
        height: 200px;}
}

.i-81{animation: hyperspace81 var(--vel) linear infinite;}

@keyframes hyperspace81{
    0%{transform: rotate(var(--ang81)) translate(0px,0px);}

    33%{transform: rotate(var(--ang81)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang81)) translate(0px,100vh);
        height: 200px;}
}

.i-82{animation: hyperspace82 var(--vel) linear infinite;}

@keyframes hyperspace82{
    0%{transform: rotate(var(--ang82)) translate(0px,0px);}

    33%{transform: rotate(var(--ang82)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang82)) translate(0px,100vh);
        height: 200px;}
}

.i-83{animation: hyperspace83 var(--vel) linear infinite;}

@keyframes hyperspace83{
    0%{transform: rotate(var(--ang83)) translate(0px,0px);}

    33%{transform: rotate(var(--ang83)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang83)) translate(0px,100vh);
        height: 200px;}
}

.i-84{animation: hyperspace84 var(--vel) linear infinite;}

@keyframes hyperspace84{
    0%{transform: rotate(var(--ang84)) translate(0px,0px);}

    33%{transform: rotate(var(--ang84)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang84)) translate(0px,100vh);
        height: 200px;}
}

.i-85{animation: hyperspace85 var(--vel) linear infinite;}

@keyframes hyperspace85{
    0%{transform: rotate(var(--ang85)) translate(0px,0px);}

    33%{transform: rotate(var(--ang85)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang85)) translate(0px,100vh);
        height: 200px;}
}

.i-86{animation: hyperspace86 var(--vel) linear infinite;}

@keyframes hyperspace86{
    0%{transform: rotate(var(--ang86)) translate(0px,0px);}

    33%{transform: rotate(var(--ang86)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang86)) translate(0px,100vh);
        height: 200px;}
}

.i-87{animation: hyperspace87 var(--vel) linear infinite;}

@keyframes hyperspace87{
    0%{transform: rotate(var(--ang87)) translate(0px,0px);}

    33%{transform: rotate(var(--ang87)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang87)) translate(0px,100vh);
        height: 200px;}
}

.i-88{animation: hyperspace88 var(--vel) linear infinite;}

@keyframes hyperspace88{
    0%{transform: rotate(var(--ang88)) translate(0px,0px);}

    33%{transform: rotate(var(--ang88)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang88)) translate(0px,100vh);
        height: 200px;}
}

.i-89{animation: hyperspace89 var(--vel) linear infinite;}

@keyframes hyperspace89{
    0%{transform: rotate(var(--ang89)) translate(0px,0px);}

    33%{transform: rotate(var(--ang89)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang89)) translate(0px,100vh);
        height: 200px;}
}

.i-90{animation: hyperspace90 var(--vel) linear infinite;}

@keyframes hyperspace90{
    0%{transform: rotate(var(--ang90)) translate(0px,0px);}

    33%{transform: rotate(var(--ang90)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang90)) translate(0px,100vh);
        height: 200px;}
}

.i-91{animation: hyperspace91 var(--vel) linear infinite;}

@keyframes hyperspace91{
    0%{transform: rotate(var(--ang91)) translate(0px,0px);}

    33%{transform: rotate(var(--ang91)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang91)) translate(0px,100vh);
        height: 200px;}
}

.i-92{animation: hyperspace92 var(--vel) linear infinite;}

@keyframes hyperspace92{
    0%{transform: rotate(var(--ang92)) translate(0px,0px);}

    33%{transform: rotate(var(--ang92)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang92)) translate(0px,100vh);
        height: 200px;}
}

.i-93{animation: hyperspace93 var(--vel) linear infinite;}

@keyframes hyperspace93{
    0%{transform: rotate(var(--ang93)) translate(0px,0px);}

    33%{transform: rotate(var(--ang93)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang93)) translate(0px,100vh);
        height: 200px;}
}

.i-94{animation: hyperspace94 var(--vel) linear infinite;}

@keyframes hyperspace94{
    0%{transform: rotate(var(--ang94)) translate(0px,0px);}

    33%{transform: rotate(var(--ang94)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang94)) translate(0px,100vh);
        height: 200px;}
}

.i-95{animation: hyperspace95 var(--vel) linear infinite;}

@keyframes hyperspace95{
    0%{transform: rotate(var(--ang95)) translate(0px,0px);}

    33%{transform: rotate(var(--ang95)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang95)) translate(0px,100vh);
        height: 200px;}
}

.i-96{animation: hyperspace96 var(--vel) linear infinite;}

@keyframes hyperspace96{
    0%{transform: rotate(var(--ang96)) translate(0px,0px);}

    33%{transform: rotate(var(--ang96)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang96)) translate(0px,100vh);
        height: 200px;}
}

.i-97{animation: hyperspace97 var(--vel) linear infinite;}

@keyframes hyperspace97{
    0%{transform: rotate(var(--ang97)) translate(0px,0px);}

    33%{transform: rotate(var(--ang97)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang97)) translate(0px,100vh);
        height: 200px;}
}

.i-98{animation: hyperspace98 var(--vel) linear infinite;}

@keyframes hyperspace98{
    0%{transform: rotate(var(--ang98)) translate(0px,0px);}

    33%{transform: rotate(var(--ang98)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang98)) translate(0px,100vh);
        height: 200px;}
}

.i-99{animation: hyperspace99 var(--vel) linear infinite;}

@keyframes hyperspace99{
    0%{transform: rotate(var(--ang99)) translate(0px,0px);}

    33%{transform: rotate(var(--ang99)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang99)) translate(0px,100vh);
        height: 200px;}
}

.i-100{animation: hyperspace100 var(--vel) linear infinite;}

@keyframes hyperspace100{
    0%{transform: rotate(var(--ang100)) translate(0px,0px);}

    33%{transform: rotate(var(--ang100)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang100)) translate(0px,100vh);
        height: 200px;}
}

.i-101{animation: hyperspace101 var(--vel) linear infinite;}

@keyframes hyperspace101{
    0%{transform: rotate(var(--ang101)) translate(0px,0px);}

    33%{transform: rotate(var(--ang101)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang101)) translate(0px,100vh);
        height: 200px;}
}

.i-102{animation: hyperspace102 var(--vel) linear infinite;}

@keyframes hyperspace102{
    0%{transform: rotate(var(--ang102)) translate(0px,0px);}

    33%{transform: rotate(var(--ang102)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang102)) translate(0px,100vh);
        height: 200px;}
}

.i-103{animation: hyperspace103 var(--vel) linear infinite;}

@keyframes hyperspace103{
    0%{transform: rotate(var(--ang103)) translate(0px,0px);}

    33%{transform: rotate(var(--ang103)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang103)) translate(0px,100vh);
        height: 200px;}
}

.i-104{animation: hyperspace104 var(--vel) linear infinite;}

@keyframes hyperspace104{
    0%{transform: rotate(var(--ang104)) translate(0px,0px);}

    33%{transform: rotate(var(--ang104)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang104)) translate(0px,100vh);
        height: 200px;}
}

.i-105{animation: hyperspace105 var(--vel) linear infinite;}

@keyframes hyperspace105{
    0%{transform: rotate(var(--ang105)) translate(0px,0px);}

    33%{transform: rotate(var(--ang105)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang105)) translate(0px,100vh);
        height: 200px;}
}

.i-106{animation: hyperspace106 var(--vel) linear infinite;}

@keyframes hyperspace106{
    0%{transform: rotate(var(--ang106)) translate(0px,0px);}

    33%{transform: rotate(var(--ang106)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang106)) translate(0px,100vh);
        height: 200px;}
}

.i-107{animation: hyperspace107 var(--vel) linear infinite;}

@keyframes hyperspace107{
    0%{transform: rotate(var(--ang107)) translate(0px,0px);}

    33%{transform: rotate(var(--ang107)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang107)) translate(0px,100vh);
        height: 200px;}
}

.i-108{animation: hyperspace108 var(--vel) linear infinite;}

@keyframes hyperspace108{
    0%{transform: rotate(var(--ang108)) translate(0px,0px);}

    33%{transform: rotate(var(--ang108)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang108)) translate(0px,100vh);
        height: 200px;}
}

.i-109{animation: hyperspace109 var(--vel) linear infinite;}

@keyframes hyperspace109{
    0%{transform: rotate(var(--ang109)) translate(0px,0px);}

    33%{transform: rotate(var(--ang109)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang109)) translate(0px,100vh);
        height: 200px;}
}

.i-110{animation: hyperspace110 var(--vel) linear infinite;}

@keyframes hyperspace110{
    0%{transform: rotate(var(--ang110)) translate(0px,0px);}

    33%{transform: rotate(var(--ang110)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang110)) translate(0px,100vh);
        height: 200px;}
}

.i-111{animation: hyperspace111 var(--vel) linear infinite;}

@keyframes hyperspace111{
    0%{transform: rotate(var(--ang111)) translate(0px,0px);}

    33%{transform: rotate(var(--ang111)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang111)) translate(0px,100vh);
        height: 200px;}
}

.i-112{animation: hyperspace112 var(--vel) linear infinite;}

@keyframes hyperspace112{
    0%{transform: rotate(var(--ang112)) translate(0px,0px);}

    33%{transform: rotate(var(--ang112)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang112)) translate(0px,100vh);
        height: 200px;}
}

.i-113{animation: hyperspace113 var(--vel) linear infinite;}

@keyframes hyperspace113{
    0%{transform: rotate(var(--ang113)) translate(0px,0px);}

    33%{transform: rotate(var(--ang113)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang113)) translate(0px,100vh);
        height: 200px;}
}

.i-114{animation: hyperspace114 var(--vel) linear infinite;}

@keyframes hyperspace114{
    0%{transform: rotate(var(--ang114)) translate(0px,0px);}

    33%{transform: rotate(var(--ang114)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang114)) translate(0px,100vh);
        height: 200px;}
}

.i-115{animation: hyperspace115 var(--vel) linear infinite;}

@keyframes hyperspace115{
    0%{transform: rotate(var(--ang115)) translate(0px,0px);}

    33%{transform: rotate(var(--ang115)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang115)) translate(0px,100vh);
        height: 200px;}
}

.i-116{animation: hyperspace116 var(--vel) linear infinite;}

@keyframes hyperspace116{
    0%{transform: rotate(var(--ang116)) translate(0px,0px);}

    33%{transform: rotate(var(--ang116)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang116)) translate(0px,100vh);
        height: 200px;}
}

.i-117{animation: hyperspace117 var(--vel) linear infinite;}

@keyframes hyperspace117{
    0%{transform: rotate(var(--ang117)) translate(0px,0px);}

    33%{transform: rotate(var(--ang117)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang117)) translate(0px,100vh);
        height: 200px;}
}

.i-118{animation: hyperspace118 var(--vel) linear infinite;}

@keyframes hyperspace118{
    0%{transform: rotate(var(--ang118)) translate(0px,0px);}

    33%{transform: rotate(var(--ang118)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang118)) translate(0px,100vh);
        height: 200px;}
}

.i-119{animation: hyperspace119 var(--vel) linear infinite;}

@keyframes hyperspace119{
    0%{transform: rotate(var(--ang119)) translate(0px,0px);}

    33%{transform: rotate(var(--ang119)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang119)) translate(0px,100vh);
        height: 200px;}
}

.i-120{animation: hyperspace120 var(--vel) linear infinite;}

@keyframes hyperspace120{
    0%{transform: rotate(var(--ang120)) translate(0px,0px);}

    33%{transform: rotate(var(--ang120)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang120)) translate(0px,100vh);
        height: 200px;}
}

.i-121{animation: hyperspace121 var(--vel) linear infinite;}

@keyframes hyperspace121{
    0%{transform: rotate(var(--ang121)) translate(0px,0px);}

    33%{transform: rotate(var(--ang121)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang121)) translate(0px,100vh);
        height: 200px;}
}

.i-122{animation: hyperspace122 var(--vel) linear infinite;}

@keyframes hyperspace122{
    0%{transform: rotate(var(--ang122)) translate(0px,0px);}

    33%{transform: rotate(var(--ang122)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang122)) translate(0px,100vh);
        height: 200px;}
}

.i-123{animation: hyperspace123 var(--vel) linear infinite;}

@keyframes hyperspace123{
    0%{transform: rotate(var(--ang123)) translate(0px,0px);}

    33%{transform: rotate(var(--ang123)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang123)) translate(0px,100vh);
        height: 200px;}
}

.i-124{animation: hyperspace124 var(--vel) linear infinite;}

@keyframes hyperspace124{
    0%{transform: rotate(var(--ang124)) translate(0px,0px);}

    33%{transform: rotate(var(--ang124)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang124)) translate(0px,100vh);
        height: 200px;}
}

.i-125{animation: hyperspace125 var(--vel) linear infinite;}

@keyframes hyperspace125{
    0%{transform: rotate(var(--ang125)) translate(0px,0px);}

    33%{transform: rotate(var(--ang125)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang125)) translate(0px,100vh);
        height: 200px;}
}

.i-126{animation: hyperspace126 var(--vel) linear infinite;}

@keyframes hyperspace126{
    0%{transform: rotate(var(--ang126)) translate(0px,0px);}

    33%{transform: rotate(var(--ang126)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang126)) translate(0px,100vh);
        height: 200px;}
}

.i-127{animation: hyperspace127 var(--vel) linear infinite;}

@keyframes hyperspace127{
    0%{transform: rotate(var(--ang127)) translate(0px,0px);}

    33%{transform: rotate(var(--ang127)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang127)) translate(0px,100vh);
        height: 200px;}
}

.i-128{animation: hyperspace128 var(--vel) linear infinite;}

@keyframes hyperspace128{
    0%{transform: rotate(var(--ang128)) translate(0px,0px);}

    33%{transform: rotate(var(--ang128)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang128)) translate(0px,100vh);
        height: 200px;}
}

.i-129{animation: hyperspace129 var(--vel) linear infinite;}

@keyframes hyperspace129{
    0%{transform: rotate(var(--ang129)) translate(0px,0px);}

    33%{transform: rotate(var(--ang129)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang129)) translate(0px,100vh);
        height: 200px;}
}

.i-130{animation: hyperspace130 var(--vel) linear infinite;}

@keyframes hyperspace130{
    0%{transform: rotate(var(--ang130)) translate(0px,0px);}

    33%{transform: rotate(var(--ang130)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang130)) translate(0px,100vh);
        height: 200px;}
}

.i-131{animation: hyperspace131 var(--vel) linear infinite;}

@keyframes hyperspace131{
    0%{transform: rotate(var(--ang131)) translate(0px,0px);}

    33%{transform: rotate(var(--ang131)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang131)) translate(0px,100vh);
        height: 200px;}
}

.i-132{animation: hyperspace132 var(--vel) linear infinite;}

@keyframes hyperspace132{
    0%{transform: rotate(var(--ang132)) translate(0px,0px);}

    33%{transform: rotate(var(--ang132)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang132)) translate(0px,100vh);
        height: 200px;}
}

.i-133{animation: hyperspace133 var(--vel) linear infinite;}

@keyframes hyperspace133{
    0%{transform: rotate(var(--ang133)) translate(0px,0px);}

    33%{transform: rotate(var(--ang133)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang133)) translate(0px,100vh);
        height: 200px;}
}

.i-134{animation: hyperspace134 var(--vel) linear infinite;}

@keyframes hyperspace134{
    0%{transform: rotate(var(--ang134)) translate(0px,0px);}

    33%{transform: rotate(var(--ang134)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang134)) translate(0px,100vh);
        height: 200px;}
}

.i-135{animation: hyperspace135 var(--vel) linear infinite;}

@keyframes hyperspace135{
    0%{transform: rotate(var(--ang135)) translate(0px,0px);}

    33%{transform: rotate(var(--ang135)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang135)) translate(0px,100vh);
        height: 200px;}
}

.i-136{animation: hyperspace136 var(--vel) linear infinite;}

@keyframes hyperspace136{
    0%{transform: rotate(var(--ang136)) translate(0px,0px);}

    33%{transform: rotate(var(--ang136)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang136)) translate(0px,100vh);
        height: 200px;}
}

.i-137{animation: hyperspace137 var(--vel) linear infinite;}

@keyframes hyperspace137{
    0%{transform: rotate(var(--ang137)) translate(0px,0px);}

    33%{transform: rotate(var(--ang137)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang137)) translate(0px,100vh);
        height: 200px;}
}

.i-138{animation: hyperspace138 var(--vel) linear infinite;}

@keyframes hyperspace138{
    0%{transform: rotate(var(--ang138)) translate(0px,0px);}

    33%{transform: rotate(var(--ang138)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang138)) translate(0px,100vh);
        height: 200px;}
}

.i-139{animation: hyperspace139 var(--vel) linear infinite;}

@keyframes hyperspace139{
    0%{transform: rotate(var(--ang139)) translate(0px,0px);}

    33%{transform: rotate(var(--ang139)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang139)) translate(0px,100vh);
        height: 200px;}
}

.i-140{animation: hyperspace140 var(--vel) linear infinite;}

@keyframes hyperspace140{
    0%{transform: rotate(var(--ang140)) translate(0px,0px);}

    33%{transform: rotate(var(--ang140)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang140)) translate(0px,100vh);
        height: 200px;}
}

.i-141{animation: hyperspace141 var(--vel) linear infinite;}

@keyframes hyperspace141{
    0%{transform: rotate(var(--ang141)) translate(0px,0px);}

    33%{transform: rotate(var(--ang141)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang141)) translate(0px,100vh);
        height: 200px;}
}

.i-142{animation: hyperspace142 var(--vel) linear infinite;}

@keyframes hyperspace142{
    0%{transform: rotate(var(--ang142)) translate(0px,0px);}

    33%{transform: rotate(var(--ang142)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang142)) translate(0px,100vh);
        height: 200px;}
}

.i-143{animation: hyperspace143 var(--vel) linear infinite;}

@keyframes hyperspace143{
    0%{transform: rotate(var(--ang143)) translate(0px,0px);}

    33%{transform: rotate(var(--ang143)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang143)) translate(0px,100vh);
        height: 200px;}
}

.i-144{animation: hyperspace144 var(--vel) linear infinite;}

@keyframes hyperspace144{
    0%{transform: rotate(var(--ang144)) translate(0px,0px);}

    33%{transform: rotate(var(--ang144)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang144)) translate(0px,100vh);
        height: 200px;}
}

.i-145{animation: hyperspace145 var(--vel) linear infinite;}

@keyframes hyperspace145{
    0%{transform: rotate(var(--ang145)) translate(0px,0px);}

    33%{transform: rotate(var(--ang145)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang145)) translate(0px,100vh);
        height: 200px;}
}

.i-146{animation: hyperspace146 var(--vel) linear infinite;}

@keyframes hyperspace146{
    0%{transform: rotate(var(--ang146)) translate(0px,0px);}

    33%{transform: rotate(var(--ang146)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang146)) translate(0px,100vh);
        height: 200px;}
}

.i-147{animation: hyperspace147 var(--vel) linear infinite;}

@keyframes hyperspace147{
    0%{transform: rotate(var(--ang147)) translate(0px,0px);}

    33%{transform: rotate(var(--ang147)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang147)) translate(0px,100vh);
        height: 200px;}
}

.i-148{animation: hyperspace148 var(--vel) linear infinite;}

@keyframes hyperspace148{
    0%{transform: rotate(var(--ang148)) translate(0px,0px);}

    33%{transform: rotate(var(--ang148)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang148)) translate(0px,100vh);
        height: 200px;}
}

.i-149{animation: hyperspace149 var(--vel) linear infinite;}

@keyframes hyperspace149{
    0%{transform: rotate(var(--ang149)) translate(0px,0px);}

    33%{transform: rotate(var(--ang149)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang149)) translate(0px,100vh);
        height: 200px;}
}

.i-150{animation: hyperspace150 var(--vel) linear infinite;}

@keyframes hyperspace150{
    0%{transform: rotate(var(--ang150)) translate(0px,0px);}

    33%{transform: rotate(var(--ang150)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang150)) translate(0px,100vh);
        height: 200px;}
}

.i-151{animation: hyperspace151 var(--vel) linear infinite;}

@keyframes hyperspace151{
    0%{transform: rotate(var(--ang151)) translate(0px,0px);}

    33%{transform: rotate(var(--ang151)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang151)) translate(0px,100vh);
        height: 200px;}
}

.i-152{animation: hyperspace152 var(--vel) linear infinite;}

@keyframes hyperspace152{
    0%{transform: rotate(var(--ang152)) translate(0px,0px);}

    33%{transform: rotate(var(--ang152)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang152)) translate(0px,100vh);
        height: 200px;}
}

.i-153{animation: hyperspace153 var(--vel) linear infinite;}

@keyframes hyperspace153{
    0%{transform: rotate(var(--ang153)) translate(0px,0px);}

    33%{transform: rotate(var(--ang153)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang153)) translate(0px,100vh);
        height: 200px;}
}

.i-154{animation: hyperspace154 var(--vel) linear infinite;}

@keyframes hyperspace154{
    0%{transform: rotate(var(--ang154)) translate(0px,0px);}

    33%{transform: rotate(var(--ang154)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang154)) translate(0px,100vh);
        height: 200px;}
}

.i-155{animation: hyperspace155 var(--vel) linear infinite;}

@keyframes hyperspace155{
    0%{transform: rotate(var(--ang155)) translate(0px,0px);}

    33%{transform: rotate(var(--ang155)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang155)) translate(0px,100vh);
        height: 200px;}
}

.i-156{animation: hyperspace156 var(--vel) linear infinite;}

@keyframes hyperspace156{
    0%{transform: rotate(var(--ang156)) translate(0px,0px);}

    33%{transform: rotate(var(--ang156)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang156)) translate(0px,100vh);
        height: 200px;}
}

.i-157{animation: hyperspace157 var(--vel) linear infinite;}

@keyframes hyperspace157{
    0%{transform: rotate(var(--ang157)) translate(0px,0px);}

    33%{transform: rotate(var(--ang157)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang157)) translate(0px,100vh);
        height: 200px;}
}

.i-158{animation: hyperspace158 var(--vel) linear infinite;}

@keyframes hyperspace158{
    0%{transform: rotate(var(--ang158)) translate(0px,0px);}

    33%{transform: rotate(var(--ang158)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang158)) translate(0px,100vh);
        height: 200px;}
}

.i-159{animation: hyperspace159 var(--vel) linear infinite;}

@keyframes hyperspace159{
    0%{transform: rotate(var(--ang159)) translate(0px,0px);}

    33%{transform: rotate(var(--ang159)) translate(0px,33.333vh);
        height: 200px;}

    100%{transform: rotate(var(--ang159)) translate(0px,100vh);
        height: 200px;}
}

