/* Color Theme Swatches in Hex */
.Moda-1-hex { color: #559BD9; }
.Moda-2-hex { color: #4D7A8C; }
.Moda-3-hex { color: #283940; }
.Moda-4-hex { color: #152618; }
.Moda-5-hex { color: #040D01; }

*{
    font-family: 'Montserrat';
}

